<library path="src">
  <class name="Plot" type="qr_panel.plot.Plot" base_class_type="rqt_gui_py::Plugin">
    <description>
      A plugin of doc-data to plot in 2D for qr_visualization. 
    </description>
    <qtgui>
    	<!--
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
    -->
      <label>Panel</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A plugin of doc-data to plot in 2D for qr_visualization.</statustip>
    </qtgui>
  </class>
</library>
