# C extensions
*.so

# Silence: eclipse add remote project
.project
.pydevproject
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

qr_visualization/qr_data_write/data/*
qr_visualization/qr_visualization.wpr
qr_visualization/qr_visualization.wpu
