<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dinasour">

<xacro:include filename="$(find dragon_description)/urdf/dinasour.urdf.xacro"/>
<xacro:include filename="$(find dragon_description)/urdf/dinasour.transmission.xacro"/>
<xacro:include filename="$(find dragon_description)/urdf/dinasour.gazebo.xacro"/>

</robot>
