<library path="src">
  <class name="QrButton" type="qr_button.qr_button.QrButton" base_class_type="rqt_gui_py::Plugin">
    <description>
      A button modula for qr_visualization.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>QrButton</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A qr_button modula for qr_visualization.</statustip>
    </qtgui>
  </class>
</library>