<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dragon">

<xacro:include filename="$(find dragon_description)/urdf/dragon_three_dof.urdf.xacro"/>
<xacro:include filename="$(find dragon_description)/urdf/dragon_three_dof.transmission.xacro"/>
<xacro:include filename="$(find dragon_description)/urdf/dragon_three_dof.gazebo.xacro"/>

</robot>
