<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find qr_control)/config/joint_group.yaml" />

  <!-- Spawn Controller -->
  <node name="fc_jnt_pos_spawner"
       pkg="controller_manager" type="spawner" respawn="false" output="screen"
       args="--shutdown-timeout -1 jnt_group_controller"  />

</launch>
