<library path="src">
  <class name="DataRead" type="qr_data_read.qr_data_read.DataRead" base_class_type="rqt_gui_py::Plugin">
    <description>
      A data read modula for qr_visualization.
    </description>
    <qtgui>
      <group>
        <label>qr_visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>qr_data_read</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A data read modula for qr_visualization.</statustip>
    </qtgui>
  </class>
</library>