<library path="src">
  <class name="QrDataControl" type="qr_data_control.qr_data_control.QrDataControl" base_class_type="rqt_gui_py::Plugin">
    <description>
      A data control modula for qr_visualization.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>DataControl</label>
      <icon type="theme">input-gaming</icon>
      <statustip>A dragon_data_control modula for dragon_visualization.</statustip>
    </qtgui>
  </class>
</library>