<?xml version="1.0"?>
<launch>   
  <!-- Load robot description -->
  <include file="$(find qr_description)/launch/upload_robot.launch" />
  
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- arg name="world_name" value="$(find qr_gazebo)/worlds/friction_demo.world"/-->
		<!-- more default parameters can be changed here -->
	</include>
	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model dinasour -z 1 -param robot_description"/>

	<param name="joint_state_controller/type" value="joint_state_controller/JointStateController" />
	<param name="joint_state_controller/publish_rate" value="50" />
  <!-- spawn controller manager -->
  <node name="jnt_state_ctrler_spawner" pkg="controller_manager" type="spawner" respawn="false"
  	output="screen" args="--shutdown-timeout -1 joint_state_controller" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>
 
</launch>
