<?xml version="1.0"?>

<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="world_name" value="$(find dragon_description)/urdf/dragon_three_dof.world"/> -->
		<arg name="world_name" default="worlds/empty.world"/>
		<!-- more default parameters can be changed here -->
	</include>

	<!-- Load the URDF/Xacro model of our robot -->
	<param name="robot_description"
	command="$(find xacro)/xacro.py  '$(find dragon_description)/urdf/single_leg.xacro'" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model dragon -z 1 -param robot_description"/>
</launch>
